

body {
	background-image: url('../img/pattern.jpg');
}

.menu {
	display: flex; /*flex untuk membuat tulisan yang awalnya ke bawah menjadi ke samping*/
	/*flex-wrap: wrap; */
	justify-content: space-between;
	/*justify ada space between, space around, center, flex start.flex end*/
	align-items: center;
	background-color: white;
	margin-left: -5;
	margin-right: -5;
	padding-right: 25;
	
	position: fixed;
	top:0;
	width: 100%;
	z-index: 1;
}

.container {
	margin-left: 50;
	margin-right: 50;
	background-color: white;
	padding-left: 10;
	padding-right: 10;
	margin-top: 100;
	height: 100%;

}

.container h1 {
	text-align: center;
	padding-top: 5; 
	font-weight: bold;
}

.footer {
	background-color: black;
	height: 40;
	align-items: center;
	margin-bottom: -10;
	margin-left: -8;
	margin-left: -8;
	justify-content: center;

}

.footer h5 {
	color: white;
	text-align: center;
	justify-content: center;
	bottom: 0;
}

header nav ul li {
	display: inline-block;
	margin: 8;
	
}

article {
	border-bottom-width: 4;
	border-bottom-style: groove;
}