.nav2 a:link{
	color: black;
}
.nav2{
	display: flex;
	justify-content: space-between;
}

.navbarProject {
	margin-top: 15;
	height: 50px;
	padding-top: 20;
}

.jumbotron img {
	width: 120px;
	height: 120px;
	border-radius: 100px;
	border: 2px solid #666;
}

.card11 {
	display: flex;
	justify-content: space-around;
}

.fitur {
	border: 1px solid #666;
	height: 370px;
	padding: 10px;
	margin-bottom: 25px;
}